<h3 id="features-device-title">SKYLOCK'S SMARTS MAKE A GREAT EXPERIENCE</h3>
<div id="features-device" class="picker section">
    <div class="m-scooch-device m-fluid">
        <div class="m-scooch-inner">
            <div id="features-power" class="m-item">
                <img itemprop="image" src="{{'skylock_solar.png' | asset_url }}" class="lazyload"/>
                <div class="picker-text">
                    <p class="slide-title">SOLAR POWER + USB</p>
                    <p class="slide-body">
                    Skylock has a built-in solar panel that recharges the battery. This means you can spend more time riding your bike and less time worrying about your lock. 12 hours of sunlight will provide enough power for six months, and in case you need a rapid charge, plug it into USB.
                    </p>
                </div>
            </div>
            <div id="features-tapunlock" class="m-item">
                <img src="{{'skylock_button.png' | asset_url }}" class="lazyload" />
                <div class="picker-text">
                    <p class="slide-title">TAP TO UNLOCK</p>
                    <p class="slide-body">
                    Skylock has a capacitive touch interface to unlock your bike in case your phone dies. A clever use of LEDs provides visual feedbackwhen you need it most.
                    </p>
                </div>
            </div>
            <div id="features-toughbreak" class="m-item">
                <img src="{{'skylock_crosssection.png' | asset_url }}" class="lazyload" />
                <div class="picker-text">
                    <p class="slide-title">TOUGH TO BREAK</p>
                    <p class="slide-body">
                    Skylock has a steel housing, a durable TPU rubber cover, and is designed to be extremly robust.
                    <br><br>

                    Skylock uses 256-bit eliptic-curve cryptography to keep your bike safe.
                    </p>
                </div>
            </div>
            <div id="features-autolock" class="m-item">
                <img src="{{'skylock_unlocked.png' | asset_url }}" class="lazyload" />
                <div class="picker-text">
                    <p class="slide-title">AUTO LOCK</p>
                    <p class="slide-body">
                    Skylock  makes locking easy. Just snap the shackle into the lockbar and walk away. Skylock locks AUTOMATICALLY.
                    </p>
                </div>
            </div>
            <div id="features-wireless" class="m-item">
                <img src="{{'skylock-wireless.png' | asset_url }}" class="lazyload" />
                <div class="picker-text">
                    <p class="slide-title">BEST IN CLASS WIRELESS RANGE</p>
                    <p class="slide-body">
                        Skylock’s custom antenna means your bluetooth signal will stay connected when it matters most. 
                    </p>
                </div>
            </div>
        </div>
        <div class="m-scooch-controls m-scooch-bulleted">
            <a href="#" data-m-slide="1" class="m-active"></a>
            <a href="#" data-m-slide="2"></a>
            <a href="#" data-m-slide="3"></a>
            <a href="#" data-m-slide="4"></a>
            <a href="#" data-m-slide="5"></a>
        </div>
        <div id="controls-nextprev" class="m-scooch-controls">
            <a href="#" data-m-slide="prev" class="previous">
                <img src="{{'previous-button.png' | asset_url }}" class="lazyload">
            </a>
            <a href="#" data-m-slide="next" class="next">
                <img src="{{'next-button.png' | asset_url }}" class="lazyload">
            </a>
        </div>
    </div>
</div> <!--#features-device-->