<div id="features-service" data-parallax="scroll" data-image-src="{{ 'bg_crashalert.jpg' | asset_url }}" data-z-index=0 data-natural-width=1024 data-natural-height=768 data-bleed=20>
    <div id="features-scrim">
        <div class="center">
            <div class="feature left">
                <img class="icon lazyload" src="{{'keyless_icon.png' | asset_url }}">
                <p class="slide-title">KEYLESS</p>
                <p class="slide-body">
                    Skylock connects to your phone so you never have to worry about losing your key.
                </p>
            </div>
            <div class="feature right">
                <img class="icon lazyload" src="{{'theft_icon.png' | asset_url }}">
                <p class="slide-title">THEFT ALERT</p>
                <p class="slide-body">
                    Skylock uses its accelerometer to notifiy your bike is being tampered with. If your bike shakes, Skylock will feel it, and send you an alert.
                </p>
            </div>
            <br>
            <div class="feature left">
                <img class="icon lazyload" src="{{'crash_icon.png' | asset_url }}">
                <p class="slide-title">CRASH ALERT</p>
                <p class="slide-body">
                    Skylock can detect many types of serious crashes using its built-in accelerometer. The Skylock app can notify anyone in your trusted network.
                </p>
            </div>
            <div class="feature right">
                <img class="icon lazyload" src="{{'sharing_icon.png' | asset_url }}">
                <p class="slide-title">SHARE ACCESS</p>
                <p class="slide-body">
                    Skylock lets you share access to your bike with anyone in your trusted network. With Skylock you can create and set up your own bike share system.
                </p>
            </div>
        </div>
    </div>
</div> <!--#features-service-->
