<div id="second" class="page" data-parallax="scroll" data-image-src="{{ 'DSC_1566.jpg' | asset_url }}" data-z-index=0 data-natural-width=2000 data-natural-height=976 data-bleed=20>
    <div id="press" class="section">
        <div class="story center">
            <div class="item">
                <img class="newssource lazyload" src="{{'Gizmodo_white.png' | asset_url }}" />
                <span class="newssource">
                    "Skylock Is the Bike Lock of the Future, and It's Awesome"
                </span>
            </div>
            <div class="item">
                <img class="newssource lazyload" src="{{'Fastco_white.png' | asset_url }}" />
                <span class="newssource">
                    "Create Your Own 'Bike Airbnb' With This New Networked Lock"
                </span>
            </div>
            <div class="item">
                <img class="newssource lazyload" src="{{'Wired_white.png' | asset_url }}" />
                <span class="newssource">
                    "This Bluetooth U-Lock Brings Keyless Entry to Your Bike"
                </span>
            </div>
            <div class="item">
                <img class="newssource lazyload" src="{{'Businessinsider_white.png' | asset_url }}" />
                <span class="newssource">
                    "This Innovative Lock Aims To Create The 'Airbnb Of Bikes'"
                </span>
            </div>
            <div class="item">
                <img class="newssource lazyload" src="{{'Verge_white.png' | asset_url }}" />
                <span class="newssource">
                    "It's solar-powered, Bluetooth-enabled, and will alert you if your bike gets moved"
                </span>
            </div>
            <div class="item">
                <img class="newssource lazyload" src="{{'Techcrunch_white.png' | asset_url }}" />
                <span class="newssource">
                    "Meet Skylock, the smart bike lock that can save you after a crash"
                </span>
            </div>
        </div> <!--.story-->
    </div> <!--#press-->
</div> <!--#second-->
